body{
    font-family: 'Roboto', sans-serif;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

.header {
    background: white;
}
.header-navigation {

}
.header-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}
.header-span{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #2E2F42;

}
.header-list {

}
.header-item {

}
.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-site {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #434455;
}
.hero {
    background: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.priority {
 background: white;
}
.priority-subtitle {

}
.priority-list {

}
.priority-item {

}
.priority-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.priority-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #434455;
}
.work {
    background: white;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.work-list {}

.work-item {}

.about {
    background: white;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.about-list {}

.about-item {}

.about-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background: #2E2F42
}

.footer-logo {

}

.link {}

.footer-span {}

.footer-text {}